
#wrapper{
    height: 148vh;
    width: 100%;
    grid-template-areas:
    "a a"
    "b c"
    "d e";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr 3fr;
background-color: #b58b63;
display: grid;
align-items: start;
}

#header {
    display: flex;
    background-color: #f6efe8;
    grid-area: a;
    align-content: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  #header div {
    background-color: #f6efe8;
    font-size: 22px;
    width: 750px;
    justify-items: center;
  }

  .fika {
    display: flex;
    background-color: #a5b58d;
    grid-area: b;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: stretch;
  }

  .fika section {
    background-color: #f6efe8;
    font-size: 22px;
    justify-items: center;
    width: 130px;
    height: 130px;
    margin: 1cm;
    flex-wrap: wrap;
  }

  .truth {
    display: flex;       
    flex-direction: row;  
    flex-wrap: wrap;      
    gap: 10px;
  }
  
  .truth div {
    width: 130px;
    height: 130px;
    background-color: #f6efe8;
    display: flex;      
    align-items: center;
    justify-content: center;
  }

  .dryck {
    display: flex;
    background-color: #a5b58d;
    grid-area: c;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .dryck section {
    background-color: #f6efe8;
    font-size: 22px;
    width: 130px;
    justify-items: center;
    flex-wrap: wrap;
    margin: 1cm;
    height: 130px;
  }

  .truth2 {
    display: flex;       
    flex-direction: row;  
    flex-wrap: wrap;      
    gap: 10px;
  }
  
  .truth2 div {
    width: 130px;
    height: 130px;
    background-color: #f6efe8;
    display: flex;      
    align-items: center;
    justify-content: center;
  }

  .mat {
    display: flex;
    background-color: #a5b58d;
    grid-area: d;
    flex-wrap: wrap;
    align-self: stretch;
  }

  .mat section {
    background-color: #f6efe8;
    font-size: 22px;
    width: 130px;
    justify-items: center;
    flex-wrap: wrap;
    margin: 1cm;
    height: 130px;
  }

  .truth3 {
    display: flex;       
    flex-direction: row;  
    flex-wrap: wrap;      
    gap: 10px;
  }
  
  .truth3 div {
    width: 130px;
    height: 130px;
    background-color: #f6efe8;
    display: flex;      
    align-items: center;
    justify-content: center;
  }

  .special {
    display: flex;
    background-color: #a5b58d;
    grid-area: e;
    flex-wrap: wrap;
    align-self: stretch;
  }

  .special section {
    background-color: #f6efe8;
    font-size: 22px;
    width: 130px;
    justify-items: center;
    flex-wrap: wrap;
    margin: 1cm;
    height: 130px;
  }

  .truth4 {
    display: flex;       
    flex-direction: row;  
    flex-wrap: wrap;      
    gap: 10px;
  }
  
  .truth4 div {
    width: 130px;
    height: 130px;
    background-color: #f6efe8;
    display: flex;      
    align-items: center;
    justify-content: center;
  }

