
#wrapper{
    height: 98vh;
    width: 100%;
    grid-template-areas:
    "a a"
    "b c"
    "d e";
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 2fr 2fr;
background-color: #b58b63;
display: grid;
}

#header {
    display: flex;
    background-color: #f6efe8;
    grid-area: a;
    align-content: center;
    justify-content: space-around;
  }
  
  #header div {
    background-color: #f6efe8;
    font-size: 22px;
    width: 750px;
    justify-items: center;
  }

  #fika {
    display: flex;
    background-color: #a5b58d;
    grid-area: b;

  }

  #fika section {
    background-color: #f6efe8;
    font-size: 22px;
    width: 750px;
    justify-items: center;
  }

  #dryck {
    display: flex;
    background-color: #a5b58d;
    grid-area: c;

  }

  #dryck section {
    background-color: #f6efe8;
    font-size: 22px;
    width: 750px;
    justify-items: center;
  }

  #mat {
    display: flex;
    background-color: #a5b58d;
    grid-area: d;

  }

  #mat section {
    background-color: #f6efe8;
    font-size: 22px;
    width: 750px;
    justify-items: center;
  }

  #special {
    display: flex;
    background-color: #a5b58d;
    grid-area: e;

  }

  #special section {
    background-color: #f6efe8;
    font-size: 22px;
    width: 750px;
    justify-items: center;
  }