/* Denna fil skall innehålla din CSS kod */
#wrapper{
    height: 148vh;
    width: 100%;
    grid-template-areas: 
    'h h h h'
    'i i b b'
    'i i b b'
    'b1 b1 o m'
    'b1 b1 mi k';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
background-color: #b58b63;
display: grid;
}

#header{
    grid-area: h;
    border-style: solid;
    border-color: #a5b58d;
    margin: 0.5cm;
    background-color: #f6efe8;
    border-width: 0.15cm;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

#info{
    grid-area: i;
    border-style: solid;
    border-radius: 0.3cm;
    border-color: #a5b58d;
    margin: 0.5cm;
    background-color: #f6efe8;
    border-width: 0.15cm;
}

#bild{
    grid-area: b;
    border-radius: 0.3cm;
    margin: 0.5cm;
    background-color: #f6efe8;
    background-image: url("../img/photo-coffeshop.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bild1{
    grid-area: b1;
    border-radius: 0.3cm;
    margin: 0.5cm;
    background-color: #f6efe8;
    background-image: url("../img/photo-cafebackground.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#oppettider{
    grid-area: o;
    border-style: solid;
    border-radius: 0.3cm;
    border-color: #a5b58d;
    margin: 0.5cm;
    background-color: #f6efe8;
    border-width: 0.15cm;
}

#meny{
    grid-area: m;
    border-style: solid;
    border-radius: 0.3cm;
    border-color: #a5b58d;
    margin: 0.5cm;
    background-color: #f6efe8;
    border-width: 0.15cm;
}

#misc{
    grid-area: mi;
    border-style: solid;
    border-radius: 0.3cm;
    border-color: #a5b58d;
    margin: 0.5cm;
    background-color: #f6efe8;
    border-width: 0.15cm;
}

#kontakt{
    grid-area: k;
    border-style: solid;
    border-radius: 0.3cm;
    border-color: #a5b58d;
    margin: 0.5cm;
    background-color: #f6efe8;
    border-width: 0.15cm;
}
