
  section h2 {
    margin: 20px;
    }


  .fika,
  .dryck,
  .mat,
  .special {
  flex-direction: column;
  }

  body {
  margin: 0;
  }

  #wrapper{
    height: 100vh;
    width: 100%;
    grid-template-areas:
    "a a"
    "b c"
    "d e";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr;
  background-color: #b58b63;
  display: grid;
  align-items: start;
  }

  #header {
    display: flex;
    background-color: #f6efe8;
    grid-area: a;
    align-content: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  #header div {
    background-color: #f6efe8;
    font-size: 22px;
    width: 750px;
    justify-items: center;
  }

  .fika {
    display: flex;
    background-color: #a5b58d;
    grid-area: b;
    flex-wrap: wrap;
    align-self: stretch;
  }



  .truth {
    margin: 0.1cm;
    display: flex;       
    flex-direction: row;  
    flex-wrap: wrap;      
    gap: 10px;
    justify-content: flex-start;
    width: fit-content;
    border-color: black;
    border-width: 0.1cm;
    border-style: solid;
  }
  
  .truth div {
    margin: 0.1cm;
    width: 130px;
    height: 130px;
    background-color: #f6efe8;
    display: flex;      
    align-items: center;
    justify-content: center;
  }

  .dryck {
    display: flex;
    background-color: #a5b58d;
    grid-area: c;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .truth2 {
    margin: 0.1cm;
    display: flex;       
    flex-direction: row;  
    flex-wrap: wrap;      
    gap: 10px;
    justify-content: flex-start;
    width: fit-content;
    border-color: black;
    border-width: 0.1cm;
    border-style: solid;
  }
  
  .truth2 div {
    margin: 0.1cm;
    width: 130px;
    height: 130px;
    background-color: #f6efe8;
    display: flex;      
    align-items: center;
    justify-content: center;
  }

  .mat {
    display: flex;
    background-color: #a5b58d;
    grid-area: d;
    flex-wrap: wrap;
    align-self: stretch;
  }



  .truth3 {
    margin: 0.1cm;
    display: flex;       
    flex-direction: row;  
    flex-wrap: wrap;      
    gap: 10px;
    justify-content: flex-start;
    width: fit-content;
    border-color: black;
    border-width: 0.1cm;
    border-style: solid;
  }
  
  .truth3 div {
    margin: 0.1cm;
    width: 130px;
    height: 130px;
    background-color: #f6efe8;
    display: flex;      
    align-items: center;
    justify-content: center;
  }

  .special {
    display: flex;
    background-color: #a5b58d;
    grid-area: e;
    flex-wrap: wrap;
    align-self: stretch;
  }

  .truth4 {
    margin: 0.1cm;
    display: flex;       
    flex-direction: row;  
    flex-wrap: wrap;      
    gap: 10px;
    justify-content: flex-start;
    width: fit-content;
    border-color: black;
    border-width: 0.1cm;
    border-style: solid;
  }
  
  .truth4 div {
    margin: 0.1cm;
    width: 130px;
    height: 130px;
    background-color: #f6efe8;
    display: flex;      
    align-items: center;
    justify-content: center;
  }

