/* Denna fil skall innehålla din CSS kod */
#wrapper{
    height: 200vh;
    width: 100%;
    grid-template-areas: 
    'h h h h'
    'i i b b'
    'i i b b'
    'b1 b1 o m'
    'b1 b1 mi k';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
background-color: #b58b63;
display: grid;
}

#header{
    grid-area: h;
    border-style: solid;
    border-color: #a5b58d;
}

#info{
    grid-area: i;
    border-style: solid;
    border-radius: 0.2cm;
    border-color: #a5b58d;
}

#bild{
    grid-area: b;
    border-style: solid;
    border-radius: 0.2cm;
    border-color: #a5b58d;
}

#bild1{
    grid-area: b1;
    border-style: solid;
    border-radius: 0.2cm;
    border-color: #a5b58d;
}

#oppettider{
    grid-area: o;
    border-style: solid;
    border-radius: 0.2cm;
    border-color: #a5b58d;
}

#meny{
    grid-area: m;
    border-style: solid;
    border-radius: 0.2cm;
    border-color: #a5b58d;
}

#misc{
    grid-area: mi;
    border-style: solid;
    border-radius: 0.2cm;
    border-color: #a5b58d;
}

#kontakt{
    grid-area: k;
    border-style: solid;
    border-radius: 0.2cm;
    border-color: #a5b58d;
}
